<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Part</h1>

<f:flashMessages />

<table  class="tx_fpfractionslider" >
	<tr>
		<th><f:translate key="tx_fpfractionslider_domain_model_part.title" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_part.subtitle" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_part.linktitle" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_part.link" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_part.image" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_part.cettcontent" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_part.dataposition" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_part.datain" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_part.dataout" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_part.dataeasein" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_part.dataeaseout" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_part.datadelay" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_part.datatime" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_part.datastep" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_part.dataspecial" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_part.styles" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{parts}" as="part">
		<tr>
			<td><f:link.action action="show" arguments="{part : part}"> {part.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{part : part}"> {part.subtitle}</f:link.action></td>
			<td><f:link.action action="show" arguments="{part : part}"> {part.linktitle}</f:link.action></td>
			<td><f:link.action action="show" arguments="{part : part}"> {part.link}</f:link.action></td>
			<td><f:link.action action="show" arguments="{part : part}"> {part.image.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{part : part}"> {part.cettcontent}</f:link.action></td>
			<td><f:link.action action="show" arguments="{part : part}"> {part.dataposition}</f:link.action></td>
			<td><f:link.action action="show" arguments="{part : part}"> {part.datain}</f:link.action></td>
			<td><f:link.action action="show" arguments="{part : part}"> {part.dataout}</f:link.action></td>
			<td><f:link.action action="show" arguments="{part : part}"> {part.dataeasein}</f:link.action></td>
			<td><f:link.action action="show" arguments="{part : part}"> {part.dataeaseout}</f:link.action></td>
			<td><f:link.action action="show" arguments="{part : part}"> {part.datadelay}</f:link.action></td>
			<td><f:link.action action="show" arguments="{part : part}"> {part.datatime}</f:link.action></td>
			<td><f:link.action action="show" arguments="{part : part}"> {part.datastep}</f:link.action></td>
			<td><f:link.action action="show" arguments="{part : part}"> {part.dataspecial}</f:link.action></td>
			<td><f:link.action action="show" arguments="{part : part}"> {part.styles}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{part : part}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{part : part}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Part</f:link.action>
</f:section>
</html>