<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for FracEffect</h1>

<f:flashMessages />

<table  class="tx_fpfractionslider" >
	<tr>
		<th><f:translate key="tx_fpfractionslider_domain_model_fraceffect.dataposition" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_fraceffect.datain" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_fraceffect.dataout" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_fraceffect.dataeasein" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_fraceffect.dataeaseout" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_fraceffect.datadelay" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_fraceffect.datatime" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_fraceffect.datastep" /></th>
		<th><f:translate key="tx_fpfractionslider_domain_model_fraceffect.dataspecial" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{fracEffects}" as="fracEffect">
		<tr>
			<td><f:link.action action="show" arguments="{fracEffect : fracEffect}"> {fracEffect.dataposition}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fracEffect : fracEffect}"> {fracEffect.datain}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fracEffect : fracEffect}"> {fracEffect.dataout}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fracEffect : fracEffect}"> {fracEffect.dataeasein}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fracEffect : fracEffect}"> {fracEffect.dataeaseout}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fracEffect : fracEffect}"> {fracEffect.datadelay}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fracEffect : fracEffect}"> {fracEffect.datatime}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fracEffect : fracEffect}"> {fracEffect.datastep}</f:link.action></td>
			<td><f:link.action action="show" arguments="{fracEffect : fracEffect}"> {fracEffect.dataspecial}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{fracEffect : fracEffect}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{fracEffect : fracEffect}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New FracEffect</f:link.action>
</f:section>
</html>