<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-fp-fractionslider" >
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_partpro.title" />
		</td>
		<td>
		{partPro.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_partpro.subtitle" />
		</td>
		<td>
		{partPro.subtitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_partpro.linktitle" />
		</td>
		<td>
		{partPro.linktitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_partpro.link" />
		</td>
		<td>
		{partPro.link}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_partpro.image" />
		</td>
		<td>
				<f:image src="{partPro.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_partpro.cettcontent" />
		</td>
		<td>
		{partPro.cettcontent}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_partpro.datawidth" />
		</td>
		<td>
		{partPro.datawidth}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_partpro.dataheight" />
		</td>
		<td>
		{partPro.dataheight}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_partpro.datadepth" />
		</td>
		<td>
		{partPro.datadepth}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_partpro.dataposition" />
		</td>
		<td>
		{partPro.dataposition}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_partpro.datahorizontal" />
		</td>
		<td>
		{partPro.datahorizontal}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_partpro.datavertical" />
		</td>
		<td>
		{partPro.datavertical}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_partpro.datashowtransition" />
		</td>
		<td>
		{partPro.datashowtransition}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_partpro.datashowoffset" />
		</td>
		<td>
		{partPro.datashowoffset}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_partpro.datashowduration" />
		</td>
		<td>
		{partPro.datashowduration}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_partpro.datashowdelay" />
		</td>
		<td>
		{partPro.datashowdelay}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_partpro.datahidetransition" />
		</td>
		<td>
		{partPro.datahidetransition}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_partpro.datahideoffset" />
		</td>
		<td>
		{partPro.datahideoffset}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_partpro.datahideduration" />
		</td>
		<td>
		{partPro.datahideduration}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_partpro.datahidedelay" />
		</td>
		<td>
		{partPro.datahidedelay}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_partpro.datastayduration" />
		</td>
		<td>
		{partPro.datastayduration}
		</td>
	</tr>
</table>
</html>