<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace re=Fixpunkt\FpFractionslider\ViewHelpers}
<f:layout name="Default" />
<f:section name="main">
<f:flashMessages />

<pre>
**Installation guide**
You need the Slider Pro-Plugin from here for this template:
https://github.com/bqworks/slider-pro

Download it and copy the css/slider-pro.min.css and js/jquery.sliderPro.min.js to your fileadmin-folder and
 load them with the viewhelper f:asset.css and f:asset.script.
Copy this file (Resources/Private/Templates/Slide/Sliderpro.html) to the fileadmin-folder too and
 modify the path to the slider-plugin below. Remove this pre-comment.
After you have modified the path, you can use this template from your fileadmin-folder.
Change the path to this template via TypoScript-constants. Example:
 plugin.tx_fpfractionslider_pi1.view {
  templateRootPath = fileadmin/bsdist/theme/tmpl/fractionslider/Templates/
  partialRootPath = fileadmin/bsdist/theme/tmpl/fractionslider/Partials/
  layoutRootPath = fileadmin/bsdist/theme/tmpl/fractionslider/Layouts/
 }
Now you can customise this template. E.g. change the path to the transparent clear.gif.
</pre>

<f:asset.css identifier="sliderpro" href="fileadmin/bsdist/theme/js/Professional-jQuery-Content-Slider-Plugin-Slider-Pro/dist/css/slider-pro.min.css" />
<f:asset.script identifier="sliderpro" src="fileadmin/bsdist/theme/js/Professional-jQuery-Content-Slider-Plugin-Slider-Pro/dist/js/jquery.sliderPro.min.js" />

<script type="text/javascript">
	var pro_width = '{settings.sliderpro.width}';
	var pro_height = '{settings.sliderpro.height}';
	var pro_responsive = {settings.sliderpro.responsive};
	var pro_aspectRatio = {settings.sliderpro.aspectRatio};
	var pro_imageScaleMode = '{settings.sliderpro.imageScaleMode}';
	var pro_centerImage = {settings.sliderpro.centerImage};
	var pro_allowScaleUp = {settings.sliderpro.allowScaleUp};
	var pro_autoHeight = {settings.sliderpro.autoHeight};
	var pro_autoSlideSize = {settings.sliderpro.autoSlideSize};
	var pro_startSlide = {settings.sliderpro.startSlide};
	var pro_shuffle = {settings.sliderpro.shuffle};
	var pro_orientation = '{settings.sliderpro.orientation}';
	var pro_forceSize = '{settings.sliderpro.forceSize}';
	var pro_loop = {settings.sliderpro.loop};
	var pro_slideDistance = {settings.sliderpro.slideDistance};
	var pro_slideAnimationDuration = {settings.sliderpro.slideAnimationDuration};
	var pro_heightAnimationDuration = {settings.sliderpro.heightAnimationDuration};
	var pro_visibleSize = '{settings.sliderpro.visibleSize}';
	var pro_centerSelectedSlide = {settings.sliderpro.centerSelectedSlide};
	var pro_rightToLeft = {settings.sliderpro.rightToLeft};
	var pro_fade = {settings.sliderpro.fade};
	var pro_fadeOutPreviousSlide = {settings.sliderpro.fadeOutPreviousSlide};
	var pro_fadeDuration = {settings.sliderpro.fadeDuration};
	var pro_autoplay = {settings.sliderpro.autoplay};
	var pro_autoplayDelay = {settings.sliderpro.autoplayDelay};
	var pro_autoplayDirection = '{settings.sliderpro.autoplayDirection}';
	var pro_autoplayOnHover = '{settings.sliderpro.autoplayOnHover}';
	var pro_arrows = {settings.sliderpro.arrows};
	var pro_fadeArrows = {settings.sliderpro.fadeArrows};
	var pro_buttons = {settings.sliderpro.buttons};
	var pro_keyboard = {settings.sliderpro.keyboard};
	var pro_keyboardOnlyOnFocus = {settings.sliderpro.keyboardOnlyOnFocus};
	var pro_touchSwipe = {settings.sliderpro.touchSwipe};
	var pro_touchSwipeThreshold = {settings.sliderpro.touchSwipeThreshold};
	var pro_fadeCaption = {settings.sliderpro.fadeCaption};
	var pro_captionFadeDuration = {settings.sliderpro.captionFadeDuration};
	var pro_fullScreen = {settings.sliderpro.fullScreen};
	var pro_fadeFullScreen = {settings.sliderpro.fadeFullScreen};
	var pro_waitForLayers = {settings.sliderpro.waitForLayers};
	var pro_autoScaleLayers = {settings.sliderpro.autoScaleLayers};
	var pro_autoScaleReference = {settings.sliderpro.autoScaleReference};
	var pro_smallSize = {settings.sliderpro.smallSize};
	var pro_mediumSize = {settings.sliderpro.mediumSize};
	var pro_largeSize = {settings.sliderpro.largeSize};
	var pro_updateHash = {settings.sliderpro.updateHash};
	var pro_reachVideoAction = '{settings.sliderpro.reachVideoAction}';
	var pro_leaveVideoAction = '{settings.sliderpro.leaveVideoAction}';
	var pro_playVideoAction = '{settings.sliderpro.playVideoAction}';
	var pro_pauseVideoAction = '{settings.sliderpro.pauseVideoAction}';
	var pro_endVideoAction = '{settings.sliderpro.endVideoAction}';
	var pro_thumbnailWidth = {settings.sliderpro.thumbnailWidth};
	var pro_thumbnailHeight = {settings.sliderpro.thumbnailHeight};
	var pro_thumbnailsPosition = '{settings.sliderpro.thumbnailsPosition}';
	var pro_thumbnailPointer = {settings.sliderpro.thumbnailPointer};
	var pro_thumbnailArrows = {settings.sliderpro.thumbnailArrows};
	var pro_fadeThumbnailArrows = {settings.sliderpro.fadeThumbnailArrows};
	var pro_thumbnailTouchSwipe = {settings.sliderpro.thumbnailTouchSwipe};
</script>

<div id="derslider" class="slider-pro">
  <div class="sp-slides">
	<f:for each="{slides}" as="slide">
		<div class="sp-slide" {f:if(condition: '{slide.color}', then: 'style="background-color:{slide.color};"')}>
			<f:if condition="{slide.background.originalResource.name}">
				<img src="/clear.gif" data-src="/{slide.background.originalResource.originalFile.publicUrl}" class="sp-image" />
			</f:if>
			<f:for each="{slide.elements}" as="element" iteration="iterator">
				<div class="slide-part-{iterator.cycle} {f:if(condition: '{element.cssclass.name}', then: '{element.cssclass.name}', else: 'sp-layer sp-white sp-padding')}" {f:if(condition: '{element.cssstyles}', then: 'style="{element.cssstyles}"')}
					<f:for each="{element.pro}" as="effekt">{f:if(condition: '{effekt.datawidth}', then: 'data-width="{effekt.datawidth}"')}
					{f:if(condition: '{effekt.dataheight}', then: 'data-height="{effekt.dataheight}"')}	{f:if(condition: '{effekt.datadepth}', then: 'data-depth="{effekt.datadepth}"')}
					{f:if(condition: '{effekt.datahorizontal}', then: 'data-horizontal="{effekt.datahorizontal}"')}	{f:if(condition: '{effekt.datavertical}', then: 'data-vertical="{effekt.datavertical}"')}
					{f:if(condition: '{effekt.datashowoffset}', then: 'data-show-offset="{effekt.datashowoffset}"')} {f:if(condition: '{effekt.datashowdelay}', then: 'data-show-delay="{effekt.datashowdelay}"')}
					{f:if(condition: '{effekt.datashowduration}', then: 'data-show-duration="{effekt.datashowduration}"')} {f:if(condition: '{effekt.datahideoffset}', then: 'data-hide-offset="{effekt.datahideoffset}"')}
					{f:if(condition: '{effekt.datahidedelay}', then: 'data-hide-delay="{effekt.datahidedelay}"')} {f:if(condition: '{effekt.datahideduration}', then: 'data-hide-duration="{effekt.datahideduration}"')}
					{f:if(condition: '{effekt.datastayduration}', then: 'data-stay-duration="{effekt.datastayduration}"')} data-position="{f:if(condition: '{effekt.dataposition}', then: '{effekt.datapositionValue}', else: 'bottomLeft')}"
					data-show-transition="{f:if(condition: '{effekt.datashowtransition}', then: '{effekt.datashowtransitionValue}', else: 'left')}"
					data-hide-transition="{f:if(condition: '{effekt.datahidetransition}', then: '{effekt.datahidetransitionValue}', else: 'up')}" </f:for> >
				<f:if condition="{element.cettcontent} > 0">
				<f:then>
					<re:Content uid="{element.cettcontent}" />
				</f:then>
				<f:else>
					<f:if condition="{element.image.originalResource.name}">
						<f:image src="{element.image.uid}" alt="{element.title}" treatIdAsReference="1" class="img-fluid" />
					</f:if>
					<f:if condition="{element.linktitle}"><f:then>
						<h4>{element.title}</h4>
						<f:if condition="{element.subtitle}">{element.subtitle}</f:if>
						<f:link.typolink parameter="{element.link}" class="external-link-new-window">{element.linktitle}</f:link.typolink>
					</f:then><f:else><f:if condition="{element.link}"><f:then>
						<h4><f:link.typolink parameter="{element.link}">{element.title}</f:link.typolink></h4>
						<f:if condition="{element.subtitle}">{element.subtitle}</f:if>
					</f:then><f:else>
						<h4>{element.title}</h4>
						<f:if condition="{element.subtitle}">{element.subtitle}</f:if>
					</f:else></f:if></f:else></f:if>
				</f:else>
				</f:if>
				</div>				
			</f:for>
		</div>
	</f:for>
  </div>
  <div class="sp-thumbnails">
	<f:for each="{slides}" as="slide">
		<div class="sp-thumbnail">
			<div class="sp-thumbnail-text">
				<div class="sp-thumbnail-title">{slide.title}</div>
				<f:if condition="{slide.subtitle} != ''"><div class="sp-thumbnail-description">{slide.subtitle}</div></f:if>
			</div>
		</div>
	</f:for>
  </div>
</div>

<script>
	$( document ).ready(function( $ ) {
		$( '#derslider' ).sliderPro({
			width: pro_width,
			height: pro_height,
			responsive: pro_responsive,
			aspectRatio: pro_aspectRatio,
			imageScaleMode: pro_imageScaleMode,
			centerImage: pro_centerImage,
			allowScaleUp: pro_allowScaleUp,
			autoHeight: pro_autoHeight,
			autoSlideSize: pro_autoSlideSize,
			startSlide: pro_startSlide,
			shuffle: pro_shuffle,
			orientation: pro_orientation,
			forceSize: pro_forceSize,
			loop: pro_loop,
			slideDistance: pro_slideDistance,
			slideAnimationDuration: pro_slideAnimationDuration,
			heightAnimationDuration: pro_heightAnimationDuration,
			visibleSize: pro_visibleSize,
			centerSelectedSlide: pro_centerSelectedSlide,
			rightToLeft: pro_rightToLeft,
//			breakpoints: {
//				991: {
//					thumbnailWidth: 270
//				},
//				767: {
//					thumbnailsPosition: 'bottom',
//					thumbnailWidth: 120,
//					thumbnailHeight: 120
//				}
//			},
			fade: pro_fade,
			fadeOutPreviousSlide: pro_fadeOutPreviousSlide,
			fadeDuration: pro_fadeDuration,
			autoplay: pro_autoplay,
			autoplayDelay: pro_autoplayDelay,
			autoplayDirection: pro_autoplayDirection,
			autoplayOnHover: pro_autoplayOnHover,
			arrows: pro_arrows,
			fadeArrows: pro_fadeArrows,
			buttons: pro_buttons,
			keyboard: pro_keyboard,
			keyboardOnlyOnFocus: pro_keyboardOnlyOnFocus,
			touchSwipe: pro_touchSwipe,
			touchSwipeThreshold: pro_touchSwipeThreshold,
			fadeCaption: pro_fadeCaption,
			captionFadeDuration: pro_captionFadeDuration,
			fullScreen: pro_fullScreen,
			fadeFullScreen: pro_fadeFullScreen,
			waitForLayers: pro_waitForLayers,
			autoScaleLayers: pro_autoScaleLayers,
			autoScaleReference: pro_autoScaleReference,
			smallSize: pro_smallSize,
			mediumSize: pro_mediumSize,
			largeSize: pro_largeSize,
			updateHash: pro_updateHash,
			reachVideoAction: pro_reachVideoAction,
			leaveVideoAction: pro_leaveVideoAction,
			playVideoAction: pro_playVideoAction,
			pauseVideoAction: pro_pauseVideoAction,
			endVideoAction: pro_endVideoAction,
			thumbnailWidth: pro_thumbnailWidth,
			thumbnailHeight: pro_thumbnailHeight,
			thumbnailsPosition: pro_thumbnailsPosition,
			thumbnailPointer: pro_thumbnailPointer,
			thumbnailArrows: pro_thumbnailArrows,
			fadeThumbnailArrows: pro_fadeThumbnailArrows,
			thumbnailTouchSwipe: pro_thumbnailTouchSwipe
		});
	});
</script>
</f:section>