<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-fp-fractionslider" >
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_part.title" />
		</td>
		<td>
		{part.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_part.subtitle" />
		</td>
		<td>
		{part.subtitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_part.linktitle" />
		</td>
		<td>
		{part.linktitle}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_part.link" />
		</td>
		<td>
		{part.link}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_part.image" />
		</td>
		<td>
				<f:image src="{part.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_part.cettcontent" />
		</td>
		<td>
		{part.cettcontent}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_part.dataposition" />
		</td>
		<td>
		{part.dataposition}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_part.datain" />
		</td>
		<td>
		{part.datain}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_part.dataout" />
		</td>
		<td>
		{part.dataout}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_part.dataeasein" />
		</td>
		<td>
		{part.dataeasein}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_part.dataeaseout" />
		</td>
		<td>
		{part.dataeaseout}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_part.datadelay" />
		</td>
		<td>
		{part.datadelay}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_part.datatime" />
		</td>
		<td>
		{part.datatime}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_part.datastep" />
		</td>
		<td>
		{part.datastep}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_part.dataspecial" />
		</td>
		<td>
		{part.dataspecial}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_fpfractionslider_domain_model_part.styles" />
		</td>
		<td>
		{part.styles}
		</td>
	</tr>
</table>
</html>